body {
    font-style: normal;
    background-color: cyan;
}

h1,h2 {
    font-style: normal;
}

a:link {
    font-style: normal;
  }

a:hover {
    font-style: normal;
  }

#author {
    margin: auto;
}